.form {
    display: grid;
    row-gap: 50px;
}

.form-field {
    border-radius: 10;
}

/* smaller mobile view */
@media (max-width: 375px) {
    .form {
        margin-top: 50% !important;
    }
}

/* mobile view */
@media (max-width: 480px) {
    .form {
        width: 95%;
    }
}

/* tablet view */
@media (min-width: 481px) and (max-width: 1024px) {
   .form {
    width: 45%;
   }
}
/* desktop view */
@media (min-width: 1025px) {
   .form {
    width: 30%;
   }
}
