.container {
    display: flex !important;
    flex-direction: column;
    background-image: url('./assets/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 240px;
    height: 100vh;
    width: 100vw;
    padding-right: 0px !important;
    padding-left: 0px !important; 
}

.credit-card {
    display: grid;
    grid-template-areas: 
    "back"
    "front";
    position: relative;
    width: 100%;
    height: 300px;
}

.credit-card-front {
    grid-area: front;
    width: 290px;
    height: 160px;
    position: relative;
    margin-left: 16px;
    margin-top: -79px;
}

.credit-card-back {
    grid-area: back;
    width: 290px;
    height: 160px;
    position: relative;
    margin-left: 65px;
    margin-top: 39px;
}

.form {
    order: 2;
    flex: 2 1 0;
    display: flex;
    row-gap: 50px;
    margin: 35px 25px 25px 25px !important;
}

.name-label {
    position: relative !important;
    margin-bottom: -33px;
    margin-left: -14px;
    font-size: 14px;
    color: hsl(278, 68%, 11%) !important;
}

.number-label {
    position: relative !important;
    margin-top: -38px;
    margin-bottom: -33px;
    margin-left: -14px;
    font-size: 14px;
    color: hsl(278, 68%, 11%) !important;
}

.field-group {
    display: flex;
    column-gap: 15px;
    width: 100%;
}

.expiration-box {
    display: flex;
    width: 25%;
}

 .exp-label {
    margin-top: 194px;
    margin-left: -14px;
    font-size: 14px;
    color: hsl(278, 68%, 11%) !important;
}

.mm-yy-box {
    display: flex;
    width: 25%;
}

.mm-yy-label {
    margin-top: 194px;
    margin-left: 23%;
    font-size: 14px;
    color: hsl(278, 68%, 11%) !important;
 }

.cvc-box {
    display: flex;
    width: 50%;
}

.form-field.cvc {
    width: 100%;
}

.cvc-label {
    margin-top: 194px;
    margin-left: 50%;
    font-size: 14px;
    color: hsl(278, 68%, 11%) !important;
 }

.confirm-btn {
    margin-top: -18px !important;
    line-height: 35px !important;
    background-color:  hsl(278, 68%, 11%) !important;
    border-radius: 10px !important;
    padding: 12px 22px !important;
    font-size: 18px;
}