.container {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
}

.box-wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;

}

.form {
    grid-column-start: 2;
    display: grid !important;
    row-gap: 50px;
    grid-template-areas: 
    'name name name'
    'number number number'
    'month year cvc';
}

.name-label {
}

.form-field.name {
    grid-area: name;
    margin-top: 45px;
}

.form-field.number {
    grid-area: number;
}

.form-field.month {
   grid-area: month;
   justify-self: left;
   width: 80px;
}

.form-field.year {
    grid-area: year;
    justify-self: start;
    width: 80px;
}

.form-field.cvc {
    grid-area: cvc;
    width: 200px;
    justify-self: end;
}

/* smaller mobile view */
@media (max-width: 375px) {
    .form {
        margin-top: 50% !important;
    }
}

/* mobile view */
@media (max-width: 480px) {
    .container {
        background-image: url('./assets/bg-main-mobile.png');
    }

    .box-wrapper {
        padding-top: 10% ;
    }

    .form {
        width: 95%;
    }
}

/* tablet view */
@media (min-width: 481px) and (max-width: 1024px) {
    .container {
        background-image: url('./assets/bg-main-mobile.png');
    }

    .box-wrapper {
        padding-top: 50%;
    }

   .form {
    width: 45%;
   }
}

/* desktop view */
@media (min-width: 1025px) {
    .container {
        background-image: url('./assets/bg-main-desktop.png');
    }

   .form {
    width: 35%;
   }
}
