.bg-credit-card-back {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.credit-card-back-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 160px;
  position: relative;
  margin-left: 68px;
  margin-top: 39px;
}

.credit-card-cvc {
  align-self: flex-end;
  position: absolute;
  color: hsl(0, 0%, 100%);
  padding-top: 70px;
  padding-right: 35px;
  font-size: 12px;
}
