.bg-credit-card-back {
  max-width: inherit;
  max-height: inherit;
  height: inherit;
  width: inherit;
}

.credit-card-back-container {
  display: flex;
  flex-direction: column;
  width: 290px;
  height: 166px;
  position: relative;
  margin-left: 68px;
  margin-top: 39px;
}

.credit-card-cvc {
  align-self: flex-end;
  position: absolute;
  color: hsl(0, 0%, 100%);
  padding-top: 73px;
  padding-right: 35px;
  font-size: 12px;
}

@media (min-width: 992px){
 .credit-card-back-container {
  top: 230px;
  left: 3%;
  height: 210px;
  width: 380px;
  grid-area: back;
 }

 .credit-card-cvc {
  padding-top: 94px;
  padding-right: 45px;
 }
}

@media (min-width: 1200px){
  .credit-card-back-container {
    height: 210px;
    width: 380px;
    top: 230px;
    left: 10%;
    grid-area: back;
 }
}
